<style>
  
    :root {
    --light: #faf8f8;
    --dark: #141021;
    --secondary: #284b63;
    --tertiary: #84a59d;
    --visited: #afbfc9;
    --primary: #ee4e4c;
    --gray: #4e4e4e;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --bold: #FFCE61;
    --italics: #3EB0FF;
    --strikethrough: #464545;
  }
  
  
  [saved-theme="dark"] {
    --light: #292A36 !important;
    --dark: #fbfffe !important;
    --secondary: #BC93F9 !important;
    --visited: #4a575e !important;
    --tertiary: #84a59d !important;
    --primary: #ee4e4c !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #615c5c !important;
    --bold: #FFCE61;
    --italics: #3EB0FF;
    --strikethrough: #525257da !important;
  }


  
</style>